
#edit-page {
  height: 104px;
  width: 104px;
  position: fixed;
  top: 40%;
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#edit-page a {
  display: block;
  background: #f00;
  height: 45px;
  width: 45px;
  padding: 8px 16px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;

}

#edit-page a:hover {
  background: #06c;
}
