        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#menu-toggle" id="menu-toggle">
                         <div id="sidebar-icon" class="glyphicon glyphicon-chevron-right"></div>  Admin
                    </a>
                </li>
                <li>
                    <a href="#"><div id="sidebar-icon" class="fa fa-file-text"></div>  Pages</a>
                </li>
                <li>
                    <a href="#"><div id="sidebar-icon" class="fa fa-users"></div>  Users</a>
                </li>
                <li>
                    <a href="#"><div id="sidebar-icon" class="fa fa-th-large"></div>  Menus</a>
                </li>
                <li>
                    <a href="#"><div id="sidebar-icon" class="fa fa-list-alt"></div>  Sidebars</a>
                </li>
                <li>
                    <a href="#"><div id="sidebar-icon" class="fa fa-cogs"></div>  Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
